main h1{
    color: #fff;
}

main .wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

.card{
    margin: .2em; 
}

.card img{
    max-width: 100%;
}

.card .back{
    background-color: rgba(255, 255, 255, 0.829);
    position: relative;
    width: 100%;
    min-height: 100px ;
}

.card .back h3, 
.card .back h4,
.card .back h5{
    color: var(--dark); 
    text-transform: uppercase;
  
} 

.card .back h3{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: .5px;
    
}