header{
    display: flex;
    margin-top: 1em;
}

header nav{
    display: flex;
    margin-left: 0;
    list-style: none;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}


header li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}


li .movies-icon, li .tv-icon{
    fill: var(--light);
    width: 60px;
    z-index: 2;
}

.shadow{
    background:  #fff; 
    box-shadow: 5px 0px 30px 30px rgba(24,111,224,0.75);
    filter: blur(1.5rem);
    z-index: -1;
    position: absolute;
    width: 60px;
    height: 30px;
}

header .title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.title h3{
    position: relative;
    left: -30px;
    top: 15px;
    transform: rotate(-10deg);
    font-family: 'Caveat', cursive;
    color:  var(--titleLightBlue);
    text-transform: lowercase;
    font-size: 2em;
}

.icons{
    display: flex;
    margin-right: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.icons .minimize, .icons .maximize, .icons .close{
    width: 13px;
    height: 13px;
    clip-path: circle();
    border-radius: 50px;
    background: #fff;
    margin-left: .3em;
    cursor: pointer;
}

.icons .minimize:hover{
    background: yellow;
    
}

.icons .maximize:hover{
    background: green;
}

.icons .close:hover{
    background: red;
}
